extends layout

block content
  <div class="container" align=center>
  <img src="/images/crimsonkeep_logo_dropshadow.png" style="padding-top: 20%; max-width: 80%; height: auto;">
  <div class="jumbotron" style="color: #ECECEB">
  <div class="jumbotop">
  <h3>email: <a style="text-decoration: underline;" href="mailto:crimsonkeepgame@gmail.com">crimsonkeepgame@gmail.com</a><br>twitter: <a style="text-decoration: underline;" href="https://twitter.com/crimsonkeep">@crimsonkeep</a><br><br><a style="text-decoration: underline;" href="http://goo.gl/forms/0ohp7jBvm4">Click Here</a> to sign up for our monthly newsletter and demo!</h3>
  </div>
  <div class="jumbobottom"><img src="/images/textbgbottom.png" width=100% height=100%></img></div>
  </div>
  </div>

