extends layout

block content
  <div class="container" align=center>
  <img src="/images/crimsonkeep_logo2.png" style="padding-top: 50%; max-width: 80%; height: auto;">
  <div class="jumbotron" style="color: #ECECEB">
  <div class="jumbotop">
  <h2>What is Crimson Keep?</h2><br>
  <p align="left">Crimson Keep is a first person, hack n'slash, role playing game. The player descends into an ever-changing labyrinth full of monsters, traps, and treasure. Locate the sunken remains of the Crimson Keep and cleanse it. The great power you find within could be your only hope of escape.</p><br><br>
  <p align="left">The game is being developed  by Ian Atherton (Art/Game Design) and Ben Rog-Wilhelm (Programming). It features music by Matt Oglesby, and web design by Devon Gardner. We began working on the game in September 2015 with the Unity engine.</p>
  </div>
  <div class="jumbobottom"><img src="/images/textbgbottom.png" width=100% height=100%></img></div>
  </div>
  <div class="jumbotron" style="color: #ECECEB">
  <div class="jumbotop">
  <iframe width="100%" height="300px" src="https://www.youtube.com/embed/lgWymnkIt9Q" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="jumbobottom"><img src="/images/textbgbottom.png" width=100% height=100%></img></div>
  </div>
  <div class="jumbotron" style="color: #ECECEB">
  <div class="jumbotop">
  <div class="row">
  <div class="col-md-6"><a href="/images/ss/ss1.jpg" class="thumbnail" data-lightbox="screenshot"><img src="/images/ss/ss1.jpg" alt="/images/ss/ss1.jpg"></a></div>
  <div class="col-md-6"><a href="/images/ss/ss2.jpg" class="thumbnail" data-lightbox="screenshot"><img src="/images/ss/ss2.jpg" alt="/images/ss/ss2.jpg"></a></div>
  </div>
  <div class="row">
  <div class="col-md-6"><a href="/images/ss/ss3.jpg" class="thumbnail" data-lightbox="screenshot"><img src="/images/ss/ss3.jpg" alt="/images/ss/ss3.jpg"></a></div>
  <div class="col-md-6"><a href="/images/ss/ss4.jpg" class="thumbnail" data-lightbox="screenshot"><img src="/images/ss/ss4.jpg" alt="/images/ss/ss4.jpg"></a></div>
  </div>
  <div class="row">
  <div class="col-md-6"><a href="/images/ss/ss5.jpg" class="thumbnail" data-lightbox="screenshot"><img src="/images/ss/ss5.jpg" alt="/images/ss/ss5.jpg"></a></div>
  <div class="col-md-6"><a href="/images/ss/ss7.jpg" class="thumbnail" data-lightbox="screenshot"><img src="/images/ss/ss7.jpg" alt="/images/ss/ss7.jpg"></a></div>
  </div>
  <div class="row">
  <div class="col-md-6"><a href="/images/ss/ss6.jpg" class="thumbnail" data-lightbox="screenshot"><img src="/images/ss/ss6.jpg" alt="/images/ss/ss6.jpg"></a></div>
  <div class="col-md-6"><a href="/images/ss/ss8.jpg" class="thumbnail" data-lightbox="screenshot"><img src="/images/ss/ss8.jpg" alt="/images/ss/ss8.jpg"></a></div>
  </div>
  <div class="row">
  <div class="col-md-6"><a href="/images/ss/ss9.jpg" class="thumbnail" data-lightbox="screenshot"><img src="/images/ss/ss9.jpg" alt="/images/ss/ss9.jpg"></a></div>
  <div class="col-md-6"><a href="/images/ss/ss10.jpg" class="thumbnail" data-lightbox="screenshot"><img src="/images/ss/ss10.jpg" alt="/images/ss/ss10.jpg"></a></div>
  </div>
  <div class="row">
  <div class="col-md-6"><a href="/images/ss/ss11.jpg" class="thumbnail" data-lightbox="screenshot"><img src="/images/ss/ss11.jpg" alt="/images/ss/ss11.jpg"></a></div>
  <div class="col-md-6"><a href="/images/ss/ss12.jpg" class="thumbnail" data-lightbox="screenshot"><img src="/images/ss/ss12.jpg" alt="/images/ss/ss12.jpg"></a></div>
  </div>
  <div class="row">
  <div class="col-md-6"><a href="/images/ss/ss13.jpg" class="thumbnail" data-lightbox="screenshot"><img src="/images/ss/ss13.jpg" alt="/images/ss/ss13.jpg"></a></div>
  <div class="col-md-6"><a href="/images/ss/ss14.jpg" class="thumbnail" data-lightbox="screenshot"><img src="/images/ss/ss14.jpg" alt="/images/ss/ss14.jpg"></a></div>
  </div>
  </div>
  <div class="jumbobottom"><img src="/images/textbgbottom.png" width=100% height=100%></img></div>
  </div>
  <div class="jumbotron" style="color: #ECECEB">
  <div class="jumbotop">
  <h2>Features</h2>
  <ul align=left>
  <li><h3>Randomized Content</h3><ul><li>Dungeon Layouts</li><li>Enemies</li><li>Weapons, armor, potions, and scrolls</li><li>Traps and shrines</li></ul></li>
  <li><h3>Engaging Combat</h3><ul><li>Weapons with different speeds, damage arcs, and ranges</li><li>Many abilities to choose from, useful for different combat situations</li><li>Locational damage (aim and hit enemies in weak points)</li></ul></li>
  <li><h3>Paced Perfectly</h3><ul><li>Condense the enjoyment of an MMO's 1-60 grind into 90 minutes</li><li>Frequently earn new abilities and equipment to make your character stronger</li></ul></li>
  <li><h3>Re-playability</h3><ul><li>Very different level layouts, monsters, and loot each run</li><li>Unlock more content the more you play (progression)</li></ul></li>
  <li><h3>Hardcore Roguelike Elements</h3><ul><li>Permadeath</li><li>Cursed items</li><li>Hunger</li><li>Deities</li></ul></li>
  </ul>
  </div>
  <div class="jumbobottom"><img src="/images/textbgbottom.png" width=100% height=100%></img></div>
  </div>
  </div>
