doctype html
html
  head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/css/lightbox.css')
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-75436624-1', 'auto');ga('send', 'pageview');</script>
    <meta property="og:image" content="http://www.escapecrimsonkeep.com/images/facebooksucks.jpg" />
  body
    <div id="wrap">
    <div id="main" class="clearfix">
    <video autoplay poster="/images/crimsonkeep_bg2.jpg" id="bgvis" class="video_bg" loop>
    <div class="mobile-background"></div>
    <source src="/images/crimsonkeep.mp4" type="video/mp4">
    <source src="/images/crimsonkeep.webm" type="video/webm">
    </video>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="/images/crimsonkeep_logo2.png" style="max-height 50px; width: auto;"></a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
    <li><a href="http://store.steampowered.com/app/632110/">Buy on Steam!</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="https://forums.tigsource.com/index.php?topic=54140.0">Dev Log</a></li>
    <li><a href="http://www.indiedb.com/games/crimson-keep">Indie DB</a></li>
    <li><a href="https://www.youtube.com/channel/UC0HIs1zIYYkOVy8xDE4GCqA">Youtube</a></li>
    <li><a href="https://twitter.com/crimsonkeep">Twitter</a></li>
    </ul>
    </div><!--/.nav-collapse -->
    </nav>
    block content
    </div>
    </div>
    <div id="footer">
    |&copy; Ian Atherton 2017 - Website by <a href="mailto:devon.james.gardner@gmail.com">Devon Gardner</a>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/lightbox.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
