@font-face {
  font-family: Narkisim;
  src: url(nrkis.ttf);
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url(../images/crimsonkeep_bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotop{
  background-image:url(../images/textbgtop.png);
  background-size: 100% 100%;
  padding: 10%;
}

.jumbobottom{
  height: 100px;
}

.thumbnail{
  background-color: black !important;
  border: 1px solid black !important;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #8B0000 !important;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -5;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}

a {
  color: #00B7FF;
}

h2 {
  color: white !important;
}

@media (max-width: 960px){
  .video_bg {
    display: none;
  }
}

p{
  margin-bottom: 0px !important;
}

ul{
  margin-bottom: 0px !important;
}

h3{
  margin-bottom: 0px !important;
}
/*
Sticky Footer Solution
by Steve Hatcher
http://stever.ca
http://www.cssstickyfooter.com
*/

html, body, #wrap {
    height: 100%;
    font-family: Narkisim;
    text-shadow: 2px 2px #000000;
}

ul {
  font-size: 20px;
}

.navbar{
  font-size: 24px !important;
}

.jumbotron p{
  font-size: 26px !important;
}

body > #wrap {
    height: auto;
    min-height: 100%;
}

#main {
    padding-bottom: 20px;  /* must be same height as the footer */
}

#footer {
    position: relative;
    margin-top: -20px;  /* negative value of footer height */
    height: 20px;
    clear: both;
    background-color: black;
    text-align: right;
    padding-right: 5px;
    color: antiquewhite;
}

#footer a{
  color: azure;
}

/* CLEAR FIX */
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
/* Hides from IE-mac \*/
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
/* End hide from IE-mac */